Repository DEBorodina/calendar-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,json}": ["eslint --fix"],
  "**/*.{js,jsx,ts,tsx,json,css,scss,md}": ["prettier --write"]
}

feat: add github action on test
  .github/workflows/test.yaml
  src/components/ControlPanel/ControlPanel.test.tsx
  src/components/ToDoItem/ToDoItem.test.tsx
  src/components/ToDoList/ToDoList.test.tsx
Due: eslint --fix, prettier --write

feat: add versel config
  .github/workflows/test.yaml
  vercel.json
Due: eslint --fix, prettier --write

fix: github actions on test
  .github/workflows/test.yaml
Due: none

feat: add readme
  README.md
  package.json
Due: eslint --fix, prettier --write

2.0.1
  package.json
Due: eslint --fix, prettier --write

2.0.0
  package.json
Due: eslint --fix, prettier --write

feat: build
  tsconfig.json
Due: eslint --fix, prettier --write

2.0.2
  package.json
Due: eslint --fix, prettier --write

fix: tsconfig to build
  package.json
  rollup.config.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

2.0.3
  package.json
Due: eslint --fix, prettier --write

fix: readme text
  README.md
Due: prettier --write

2.0.4
  package.json
Due: eslint --fix, prettier --write

feat: add dot above dates with todos
  src/components/MonthCalendarDay/index.tsx
  src/components/MonthCalendarDay/styles.ts
Due: eslint --fix, prettier --write

feat: crossed text when todo is done
  src/components/DateInput/style.ts
  src/components/ToDoItem/index.tsx
  src/components/ToDoItem/styles.ts
Due: eslint --fix, prettier --write

fix: fix is cases and mob=ve useefect to the return statement
  src/components/Calendar/index.tsx
  src/components/DateInput/index.tsx
  src/components/MonthCalendarDay/index.tsx
  src/components/MonthCalendarDay/styles.ts
  src/styles/global.ts
  src/utils/CalendarHelper.ts
  src/utils/DateFormatter.ts
  src/utils/DateValidator.tsx
  src/utils/MonthCalendarHelper.ts
  src/utils/WeekCalendarHelper.ts
  src/utils/decorators/BaseCalendar.tsx
  src/utils/decorators/DecoratorService.ts
  src/utils/decorators/WeekCalendarDecorator.tsx
Due: eslint --fix, prettier --write

fix: move styles to theme
  src/components/AddToDoForm/styles.ts
  src/components/Calendar/styles.ts
  src/components/ControlPanel/styles.ts
  src/components/DateInput/style.ts
  src/components/DatePicker/index.tsx
  src/components/DatePicker/styles.ts
  src/components/DayCalendarGrid/styles.ts
  src/components/MonthCalendarDay/styles.ts
  src/components/RangePicker/styles.ts
  src/components/ToDoItem/styles.ts
  src/components/ToDoList/styles.ts
  src/constants/styles.ts
Due: eslint --fix, prettier --write

fix: add test folder to tsconfig
  jest/browserMocks.ts
  package.json
  src/components/MonthCalendarDay/index.tsx
  src/components/MonthCalendarDay/types.ts
  src/utils/DayCellService.ts
  test/setupJestMock.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add screenshots to readme
  README.md
  screenshots/calendar-todolist.png
  screenshots/month-calendar.png
Due: prettier --write

fix: add dots above days only when withtodolist is set
  src/components/MonthCalendarDay/index.tsx
Due: eslint --fix, prettier --write

fix: fix deployment
  README.md
Due: prettier --write

fix: fix rollup plugin
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: update deployment link
  README.md
Due: prettier --write
